###########################  此为本机测试环境  #######################

###############################  基础配置  ##############################
#项目地址头部
ProjectUrl=http://localhost:8080/marshow

#文件上传存储路径
FileDir=

###############################  注册配置  ##############################
#默认用户头像
defaultUserLogo=http://www.marshow.top/images/defaultUserImg3.png
#默认管理员头像
defaultAdminLogo=http://www.marshow.top/images/defaultUserImg1.png

###############################  登陆配置  ##############################


##############################  Oracle配置  ############################
Oracle_IP=192.168.31.142
Oracle_PORT=1521
Oracle_DATABASE=orcl
Oracle_USERNAME=scott
Oracle_PASSWORD=tiger111111
#初始连接池大小0
Oracle_InitialSize=1
#最大连接数8
Oracle_MaxActive=8
#最大空闲数8
Oracle_MaxIdle=8
#最小空闲连接0
Oracle_MinIdle=1
#最大等待时间-1（毫秒），默认表示无限等待不抛异常
Oracle_MaxWait=5000


##############################  MySQL配置  ############################
MySQL_IP=39.108.209.36
MySQL_PORT=3306
MySQL_DATABASE=smart_comm
MySQL_USERNAME=root
MySQL_PASSWORD=minqipanzhiMYSQL100%
#初始连接池大小0
MySQL_InitialSize=20
#最大连接数8
MySQL_MaxActive=20
#最大空闲数8
MySQL_MaxIdle=10
#最小空闲连接0
MySQL_MinIdle=5
#最大等待时间-1（毫秒），默认表示无限等待不抛异常
MySQL_MaxWait=5000


############################## MongoDB配置  ############################
MONGO_IP=39.108.209.36
MONGO_PORT=27017
MONGO_DATABASE=jlo2o
MONGO_USERNAME=jlo2o
MONGO_PASSWORD=nNb9J8194NX47Tzl

##############################  Excel字段  #############################
##文件的全名包含扩展名;起始行、起始列;sheet表下标
importGoods.xls=key1,key2,key3,key4,key5,key6,key7,key8,key9,key10
importGoods.xlsRowBegin=2
importGoods.xlsColumnsBegin=1
importGoods.xlsSheet=0

excelName2=key1,key2,key3,key4,key5
excelName2.xlsRowBegin=1
excelName2.xlsColumnsBegin=1




##############################  支付宝支付配置  ###########################





##############################  微信服务配置  ############################
WECHAT_TOKEN=marshow


#金力公众号配置，自己的openid=obVLrjokoId8PFcPxBF73OUBWlRA
#WECHAT_APPID=wxd6a3cd6fd304a872
#WECHAT_APPSECRET=a6b2fcbd8d309e07853e3894480a5a3c

#多渠公众号配置，自己的openid=ovO7is8jef5Ui7_tRufbs2SwLZuQ
#WECHAT_APPID=wx3b8e77b0a26c8a9c
#WECHAT_APPSECRET=30d35b1e981bf806db548aa021831fa6


s

##############################  邮件配置  ###############################
MAIL_HOST=smtp.163.com
MAIL_SEND=marvelsun@163.com
MAIL_PSW=m7913753456123


############################## 快递鸟配置  ###############################
KDN_EBusinessID=1273238
KDN_AppKey=4d08e976-aece-4dce-940b-a92115f523d8

##############################  阿里云应用市场  ##########################
ALI_APPKEY=24566480
ALI_APPSECRET=fa27239411f035d92a6696dd77026d79
ALI_APPCODE=8ee0d3384f5a462ead78a049fdd0a000
SMSTemplateCode1=123
SMSTemplateCode2=456
SMSTemplateCode3=789
